

/* BASE STYLING */

*, *:before, *after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
	width: 1024px;
	max-width: 98%;
	margin: 0 auto;
	display: inline-block;
}

/* FONT STYLING */

.list li:nth-child(n+3) a {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: none;
}

a {
	font-family: 'Oswald', sans-serif;

}

.tagline h2, .block h3, h1 {
	font-family: 'Merriweather', sans-serif;
}

body {
	font-family: 'Source Sans Pro', sans-serif;	
}

/* HEADER STYLING */

.header {
	background-size: cover;
	background-color: black;
	max-width: 100%;
	border-bottom: solid 5px #FFF653;
}

h1 {
	color: #FFF653;
	font-size: 30px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.list {
	float: right;
}

.header li {
	display: inline-block;
}

a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	padding: 15px;
}

a:hover {
	background-color: #AAAAAA;
}

.head {
	color: white;
	padding: 0px 10px;
}

/* HOME PAGE STYLING */
/* TAGLINE STYLING */

.tagline {
	max-width: 100%;
	border-top: solid 1px #999999;
	background-color: #C6C6C6;
	padding: 25px;
}

.tagline h2 {
	text-align: center;
	font-style: italic;
	font-size: 25px;
}

del {
	color:  #AAAAAA;
}

ins {
	text-decoration-color: #FFF653;
}

/* INTRO STYLING */

.intro {
	background: url(../images/coworking.jpg);
	background-size: cover;
	padding: 40px 0px;
}

.box {
	width: 270px;	
	background-color: rgba(255,255,255,0.7);
	margin-left: auto;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	padding: 20px 20px 40px 20px;

}
.cta {
	color: black;
	text-align: center;

}

.cta-yellow {
	background-color: #FFF653;
	border-radius: 5px;
	border-bottom: 3px solid #CEC441;
	padding: 10px 50px;
	margin: 50px 10px;
	text-align: center;
}

.cta-yellow:hover {
	background-color: #CEC441;
}

.box h3 {
	font-size: 25px;
	padding-top: 10px;
	font-weight: 600;
}

.container .box p {
	font-size: 20px;
	padding-bottom: 50px;
	line-height: 1.6;

}

/* INFO STYLING */

.three-teasers {
	background-color: white;
}

.block {
	width: 32.66666667%;
	list-style: none;
	float: left;
	border-right: 1px solid #C6C6C6;
}

.three-teasers ul {
	padding: 0;
	margin: 0;
}

.block:last-child {
	border-right: none;
}

.block h3 {
	margin: 0;
	font-size: 30px;
	padding: 30px 25px 5px 25px;
}

.block p {
	line-height: 1.6;
	padding: 10px 25px 30px 25px;
	font-size: 20px;
}

.cta-grey {
	background-color: #C6C6C6;
	border-radius: 5px;
	border-bottom: 3px solid #999;
	padding: 10px 30px;
	margin-left: 25px;
}

.cta-grey:hover {
	background-color: #999;
}

/* DEVELOPERS PAGE STYLING */

body {
	background-color: #C6C6C6;
}

.photo {
	height: auto;
	width: auto;
	max-height: 280px;
	max-width: 280px;
	display: inline-block;

}

.main ul {
	text-align: center;
	margin: 0 auto;
}

.profile {
	list-style: none;
	display: inline-block;
	width: 20%;
	background-color: white;
}

.des {
	list-style: none;
	display: inline-block;
	background-color: #696969;
	padding: 2px 10px;
	border-radius: 20px;
	color: white;
	text-align: left;
}

/* FOOTER STYLING */

.footer {
	background-color: black;
	color: white;
	padding: 10px;
}


